$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html, body {
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: #000000;
	font-family: 'Alegreya Sans SC';
	color: #eee;
}

#scene {
	height: 100%;
}
